/*------------------------------------------------------------------
Last change: 2-May-16
-------------------------------------------------------------------*/
/*
	[Table of contents]

	+ Shortcodes		
		- Home Team Section
			

	+ Responsive
		- min-width: 1200
		- min-width: 992
		- min-width: 768
		- min-width: 1441 to max-width: 1680
		- min-width: 1367 to max-width: 1440
		- min-width: 1200 to max-width: 1366
		- min-width: 992 to max-width: 1199
		- min-width: 768 to max-width: 991
		- max-width: 991
		- min-width: 768 to max-width: 991
		- max-width: 767
		- max-width: 639
		- max-width: 479
*/

/*------------------------------------------------------------------
	+ Shortcodes
-------------------------------------------------------------------*/
/* + Footer */
footer {
	background: #272727;
	padding-top: 100px;
}

/* Footer 1 */
.ftr-widget-title {
	font-family: "Montserrat",sans-serif;
	font-size: 20px;
    font-weight: bold;
	text-transform: uppercase;
	width: 100%;
	display: inline-block;
	margin-bottom: 55px;
	color: #fff;
	margin-top: 0;
}
.ftr-widget .footer-logo {
	font-family: "Montserrat",sans-serif;
    font-size: 30px;
    font-weight: bold;
    height: auto;
    line-height: 36px;
    padding: 0;
    text-decoration: none;
    text-transform: uppercase;
	width: 100%;
	display: inline-block;
	margin-bottom: 35px;
}
.ftr-widget .footer-logo a {
	color: #fff;
	text-decoration: none;
}
.ftr-widget .footer-logo a img {
	margin-right: 2px;
}
.ftr-widget p {
	line-height:28px;
	margin-bottom: 20px;
}
.ftr-widget p,
.ftr-widget-about ul li {
	font-family:droid serif;
	font-weight:400;
	font-size:14px;
	letter-spacing:0.025em;
	color:#999999;
}
.ftr-widget-about ul {
	padding-left: 0;
}
.ftr-widget-about ul li {
	padding: 10px 0;
	border-top: 1px solid #474747;
	display: inline-block;
	width: 100%;
	position: relative;
	padding-left: 40px;
}
.ftr-widget-about ul li i {
	color: #525252;
	font-size: 18px;
	position: absolute;
	left: 0;
	top: 10px;
}
.ftr-widget-about ul li a {
	color: #999999;
	text-decoration: none;
}
.ftr-widget-about ul li a:hover {
	color: #cc9900;
}

/* - Widget :- Tags */
.ftr-widget-tag .tags a {
	background-color: #535353;
    color: #999999;
    float: left;
    font-family: "Droid Serif";
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 7px 12px;
	text-decoration: none;
	text-transform: capitalize;
}
.ftr-widget-tag .tags a:hover {
	background-color: #cc9900;
	color: #fff;
}

/* - Widget :- Recent Post */
.ftr-widget-rnt-post ul {
	padding-left: 0;
}
.ftr-widget-rnt-post ul li {
	border-bottom: 1px solid #4d4d4d;
    display: block;
    padding: 12px 0;
	position: relative;
}
.ftr-widget-rnt-post ul li a::before {
	content:"\39";
	font-family:ElegantIcons;
	font-size: 15px;
	margin-right: 5px;
}
.ftr-widget-rnt-post ul li:last-child {
	border-bottom: none;
}
.ftr-widget-rnt-post ul li:first-child {
	padding-top: 0;
}
.ftr-widget-rnt-post ul li a {
	color: #999;
    font-size: 13px;
	text-decoration: none;
	-webkit-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;	
}
.ftr-widget-rnt-post ul li a:hover {
	color: #fff;
}
.ftr-widget-rnt-post ul li a:hover::before {
	color: #cc9900;
}

/* - Widget :- Newsletter */
.ftr-widget-newsletter form {
	padding-bottom: 30px;
	border-bottom: 1px solid #4d4d4d;
}
.ftr-widget-newsletter form input,
.ftr-widget-newsletter #mc_embed_signup input#mce-EMAIL {
	background-color: #535353;
	color: #999;
	font-style: italic;
	font-size: 13px;
	padding: 12px 50px 12px 10px;
	border: none;
	width: 100%;
	font-family: 'Droid Serif';
	word-spacing: 1px;
	border: none;
}
.ftr-widget-newsletter #mc_embed_signup input#mce-EMAIL[type="email"]:focus {
	background-color: #535353;
	border: none;
}
.ftr-widget-newsletter form input:focus,
.ftr-widget-newsletter form button:focus {
	outline: none;
}
.ftr-widget-newsletter form button:hover,
.ftr-widget-newsletter form button:focus {
	box-shadow: none;
	border: none;
	outline: none;
}
.ftr-widget-newsletter form button {
	background-color: #cc9900;
	border: none;
	float: right;
	position: relative;
	bottom: 42px;
	padding: 10px 12px;
	color: #fff;
	border-radius: 0;
	outline: none;
}
.ftr-widget-newsletter form button i {
	font-size: 18px;
	color: #fff;
	position: relative;
	top: 3px;
}
.ftr-widget-newsletter #mc_embed_signup input#mce-EMAIL {
	line-height: inherit;
}
.ftr-widget-newsletter ul {
	padding: 24px 0;
}
.ftr-widget-newsletter ul li {
	display: inline-block;
}
.ftr-widget-newsletter ul li a {
	font-family:montserrat;
	font-weight:700;
	font-size:14px;
	letter-spacing:0.10em;
	color:#999999;
	text-transform:uppercase;
	margin-bottom:66px;
	margin-right:13px;
	text-decoration: none;
}
.ftr-widget-newsletter ul li a:hover { 
	color: #cc9900;
}
.copyright {
	background: #1f1f1f;
	padding-top:35px;
	padding-bottom:35px;
	margin-top: 100px;
}
.copyright p {
	font-family:droid serif;
	font-weight:400;
	font-size:13px;
	letter-spacing:0.025em;
	color:#999999;
	float: left;
	margin-bottom: 0;
	line-height: 37px;
}
.copyright p a {
	color: #cc9900;
}
.copyright .backto-top {
	float: right;
	width: 37px;
	height: 37px;
	line-height: 33px;
	text-align: center;
	border: 2px solid #666666;
	color: #999999;
}

/* - Footer 2 */
.footer-2 {
	text-align: center;
}
.footer-2 h4 {
	font-family: "Montserrat",sans-serif;
	text-transform: uppercase;
	color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.05em;
    padding-bottom: 15px;
    text-align: center;
}
.template-info p {
	color: #999999;
    font-family: droid serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.025em;
    line-height: 28px;
    margin-bottom: 0;
    text-align: center;
}
.template-info p span {
	display: block;
}
.template-info p span a {
	color: #999999;
}

.template-info ul {
	padding-left: 0;
	text-align: center;
	margin-top: 65px;
}
.template-info ul li {
	display: inline-block;
	margin: 0 25px;
}
.template-info ul li a {
	font-family: "Montserrat",sans-serif;
	text-transform: uppercase;
	color: #ffffff;
    font-size: 14px;
    font-weight: 700;
	padding-bottom: 8px;
	text-decoration: none;
	letter-spacing: 1.4px;
	border-bottom: 1px solid transparent;
	display: inline-block;
}
.template-info ul li a:hover {
	border-bottom: 1px solid #fff;
}

.footer-2 .copyright p {
	text-align: center;
	float: none;
}
.footer-2 .copyright .backto-top {
	margin-top: -37px;
	margin-right: 37px;
} 

/* - Footer 3 */
.footer-3 {
	background-image: url("http://placehold.it/1860x438/ddd");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.footer-3::before {
	content: "";
	position: absolute;
	left: 0;
	background-color: rgba(0,0,0,0.7);
	right: 0;
	top: 0;
	bottom: 0;
	display: inline-block;
}
.footer-box {
	color: #fff;
	padding: 30px;
	min-height: 224px;
}
.footer-box h5 {
	font-family: "Montserrat",sans-serif;
	font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0;
    padding-bottom: 15px;
    padding-top: 0;
    text-transform: uppercase;
}
.footer-box p,
.footer-box a {
	color: #999999;
    font-family: droid serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.025em;
    line-height: 28px;
    text-align: center;
}

.footer-box > a {
	display: block;
	text-decoration: none;
}
.footer-box p > a,
.footer-box > a:hover {
	color: #cc9900;
}
.footer-3 .copyright {
	position: relative;
}

/* - Mail Chip */
#mce-success-response {
	color: #50B948;
}
#mce-error-response {
	color: #FF0000;	
}
/* - Footer 1 */
/*------------------------------------------------------------------
	+ Responsive
-------------------------------------------------------------------*/
/* - min-width: 1200px */
@media (min-width: 1200px) {
	
}

/* - min-width: 992 */
@media (min-width: 992px) {
	
}

/* - min-width: 768 */
@media (min-width: 768px) {
	/* - Footer 3 */
	.brdr-right {
		border-right: 1px solid #4b4b4b;
	}
}

/* - min-width: 1441 to max-width: 1680 */
@media only screen and (min-width: 1441px) and (max-width: 1680px) {	
	
}

/* - min-width: 1367 to max-width: 1440 */
@media only screen and (min-width: 1367px) and (max-width: 1440px) {	
	
}

/* - min-width: 1200 to max-width: 1366 */
@media only screen and (min-width: 1200px) and (max-width: 1366px) {	
	
}

/* - min-width: 992 to max-width: 1199 */
@media only screen and (min-width: 992px) and (max-width: 1199px) {	
	
}

/* - max-width: 991 */
@media (max-width: 991px) {
	/* - Footer 1 */
	.footer-1 .row > .col-sm-6:nth-child(2n+1) {
		clear: both;
	}
	
	/* - Footer 3 */
	.footer-box {
		min-height: 251px;
		padding-left: 0;
		padding-right: 0;
	}
}

/* - min-width: 768 to max-width: 991 */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	
}

/* - max-width: 767 */
@media (max-width: 767px) {
	.ftr-widget {
		margin-bottom: 50px;
	}
	.ftr-widget:last-child { 
		margin-bottom: 0;
	}
	.ftr-widget-title {
		margin-bottom: 25px;
	}
	.copyright p {
		float: none;
		text-align:center;
	}
	
	/* - Footer 2 */
	.copyright .backto-top,
	.footer-2 .copyright .backto-top {
		float: none;
		margin: 0 auto;
		display: block;
	}
	.template-info ul li a {
		margin-bottom: 10px;
	}
	
	/* - Footer 3 */
	.footer-box {
		min-height: 1px;
	}
	.brdr-right {
		border-bottom: 1px solid #4b4b4b;
	}
}

/* - max-width: 639 */
@media (max-width: 639px) {	
	
}

/* - max-width: 479 */
@media (max-width: 479px) {	
	
}
