/*
	[Table of contents]

	+ Navigation Menu
	- Navigation Menu > 991 RES
	- Navigation Menu Switch < 991 RES
	- Mega Dropdown Menu
	
*/

/* + Navigation Menu */
.ow-navigation {
	padding-left: 15px;
	padding-right: 15px;
	border: none;
	border-radius: 0;
	margin-bottom: 0;
	min-height: 1px;
	float: left;
	width: 100%;
	background-color: transparent;
}
.ow-navigation .navbar-right {
	margin-right: 0;
}
.ow-navigation .navbar-brand {
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	font-weight: bold;
	height: auto;
	padding: 0;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 36px;
}
.ow-navigation .navbar-brand img {
	display: inline-block;
	margin-right: 15px;
}
.ow-navigation .navbar-brand,
.ow-navigation .navbar-brand:hover,
.ow-navigation .navbar-brand:focus {
	color: #ffffff; 
}
.home1 .ow-navigation .navbar-brand span,
.home1 .ow-navigation .navbar-brand,
.home1 .ow-navigation .navbar-brand:hover,
.home1 .ow-navigation .navbar-brand:focus,
.text-color-black .ow-navigation .navbar-brand span,
.text-color-black .ow-navigation .navbar-brand,
.text-color-black .ow-navigation .navbar-brand:hover,
.text-color-black .ow-navigation .navbar-brand:focus {
	color: #212121; 
}
.home1 .ow-navigation .navbar-brand span {
	border-color: #212121;
}
.ow-navigation .nav {
	margin-bottom: 0;
	float: none;
}
.ow-navigation .nav.navbar-nav > li {
	margin: 0;
	float: none;
	display: inline-block;
}
.ow-navigation .nav.navbar-nav > li:first-child {
	margin-left: 0;
}
.ow-navigation .nav.navbar-nav > li > a {
	border: 1px solid transparent;
	color: #ffffff;
    font-family: "Montserrat",sans-serif;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.975px;
	line-height: 10px;
    padding: 11px 17px;
    position: relative;
    text-transform: uppercase;
}
.ow-navigation .nav.navbar-nav > li.active > a,
.ow-navigation .nav.navbar-nav > li.active:hover > a,
.ow-navigation .nav.navbar-nav > li.active:focus > a,
.ow-navigation .nav.navbar-nav > li:hover > a,
.ow-navigation .nav.navbar-nav > li:focus > a,
.ow-navigation .nav.navbar-nav > li > a:hover,
.ow-navigation .nav.navbar-nav > li > a:focus,
.ow-navigation .dropdown-menu li:hover > a,
.ow-navigation .dropdown-menu li > a:hover,
.ow-navigation .dropdown-menu > li:hover > a,
.ow-navigation .dropdown-menu > li:focus > a,
.ow-navigation .dropdown-menu > li > a:hover,
.ow-navigation .dropdown-menu > li > a:focus {
	background-color: transparent;
	color: #fff;
}

.text-color-black .ow-navigation .nav.navbar-nav > li > a {
	color: #333333;
}
.text-color-black .ow-navigation .nav.navbar-nav > li.active > a,
.text-color-black .ow-navigation .nav.navbar-nav > li.active:hover > a,
.text-color-black .ow-navigation .nav.navbar-nav > li.active:focus > a,
.text-color-black .ow-navigation .nav.navbar-nav > li:hover > a,
.text-color-black .ow-navigation .nav.navbar-nav > li:focus > a,
.text-color-black .ow-navigation .nav.navbar-nav > li > a:hover,
.text-color-black .ow-navigation .nav.navbar-nav > li > a:focus,
.text-color-black .ow-navigation .dropdown-menu li:hover > a,
.text-color-black .ow-navigation .dropdown-menu li > a:hover,
.text-color-black .ow-navigation .dropdown-menu > li:hover > a,
.text-color-black .ow-navigation .dropdown-menu > li:focus > a,
.text-color-black .ow-navigation .dropdown-menu > li > a:hover,
.text-color-black .ow-navigation .dropdown-menu > li > a:focus {
	color: #cc9900;
}

/* - Mega Dropdown Menu */
.ow-navigation .navbar-nav > li > .dropdown-menu.mega-menu li:first-child,
.ow-navigation .mega-dropdown .dropdown-menu.mega-menu > li {
	padding-bottom: 0;
	padding-top: 0;
}
.ow-navigation .mega-dropdown .mega-menu li:first-child .dropdown-box {
	border-left: none;
}
.ow-navigation .mega-dropdown .mega-menu .dropdown-box h4 {
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 30px;
	letter-spacing: 0.336px;
}
.ow-navigation .mega-dropdown .mega-menu .dropdown-box ul {
	padding-left: 0;
	margin-bottom: 0;
}
.ow-navigation .mega-dropdown .mega-menu .dropdown-box ul li {
	display: inline-block;
	width: 100%;
	padding: 0;
	margin-bottom: 20px;
}
.ow-navigation .mega-dropdown .mega-menu .dropdown-box ul li:last-child {
	padding-bottom: 0;
	margin-bottom: 0;
}
.ow-navigation .mega-dropdown .mega-menu .dropdown-box ul li a {
	color: #999999;
	text-decoration: none;
	border-radius: 2px;
    display: block;
	padding: 0;
	font-size: 13px;
	letter-spacing: 0.325px;
	text-transform: capitalize;
}
.ow-navigation .mega-dropdown .mega-menu .dropdown-box ul li a i {
	margin-right: 15px;
}
.ow-navigation .mega-dropdown .mega-menu .dropdown-box ul li a:focus,
.ow-navigation .mega-dropdown .mega-menu .dropdown-box ul li a:hover {
	color: #cc9900;
}

/* - Header Section 4 */
.header-section4 .ow-navigation .nav li a i { 
	margin-right: 10px;
}

/* - Header Section 9 */
.header-section9 .ow-navigation .navbar-collapse {
	width: 100%;
}
.header-section9 .ow-navigation  .search-right-box {
	max-width: 345px;
	width: 345px;
	float: right;
	padding: 15px 0 16px;
}
.header-section9 .ow-navigation  .search-right-box .form-control {
	border: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	font-style: italic;
	border-left: 1px solid rgba(51,51,51,0.5);
	border-radius: 0;
	color: #999999;
}
.header-section9 .ow-navigation  .search-right-box .input-group-btn .btn {
	border: none;
	outline: none;
}
.header-section9 .ow-navigation  .search-right-box .form-control,
.header-section9 .ow-navigation  .search-right-box .input-group-btn .btn,
.header-section9 .ow-navigation  .search-right-box .input-group-btn .btn:hover,
.header-section9 .ow-navigation  .search-right-box .input-group-btn .btn:focus {
	background-color: transparent;
}
.header-section9.header-bg-dark .ow-navigation  .search-right-box .input-group-btn .btn {
	color: #fff;
}
.header-section9.header-bg-dark .ow-navigation .search-right-box .form-control {
	border-left-color: #666666;
	color: #666666;
}


/* - Navigation Menu > 991 RES. */
@media (min-width: 992px) {
	.header-section1 .ow-navigation {
		margin: 28px 0;
	}
	.ow-navigation {
		text-align: center;
		margin-right: 0;
	}
	.ow-navigation .navbar-collapse {
		padding-left: 0;
		padding-right: 0;		
	}
	.ow-navigation .ddl-switch {
		display: none !important;
	}
	.header-section1 .ow-navigation .nav.navbar-nav > li.active > a,
	.header-section1 .ow-navigation .nav.navbar-nav > li.active:hover > a,
	.header-section1 .ow-navigation .nav.navbar-nav > li.active:focus > a,
	.header-section1 .ow-navigation .nav.navbar-nav > li:hover > a,
	.header-section1 .ow-navigation .nav.navbar-nav > li:focus > a,
	.header-section1 .ow-navigation .nav.navbar-nav > li > a:hover,
	.header-section1 .ow-navigation .nav.navbar-nav > li > a:focus {
		border: 1px solid #fff;
	}
	
	/* Dropdown */
	.ow-navigation .navbar-collapse > ul > li > .dropdown-menu {
		top: 100%;
		left: auto;
		right: 0;
	}
	.ow-navigation ul li > .dropdown-menu {
		background-color: rgba(0, 0, 0, 0.85);
		border: 1px solid rgba(0, 0, 0, 0.15);
		left: 100%;
		border-radius: 0;
		margin-top: 0;
		transition: all 0.4s ease-in-out 0s;
		box-shadow: none;
		opacity: 0;
		visibility: hidden;
		top: 0;
		display: block;
		padding: 5px 0px;
		margin-top: 30px;
	}
	.navbar-fixed-top.header-section .ow-navigation ul li > .dropdown-menu { 
		box-shadow: none;
	}
	.ow-navigation .navbar-nav li > .dropdown-menu > li {
		padding: 0;
	}
	.ow-navigation .navbar-nav > li > .dropdown-menu > li > a {
		white-space: nowrap;
		color: #c5c5c5;
		font-family: "Raleway",sans-serif;
		font-size: 12px;
		font-weight: 700;
		padding: 7px 30px;
		text-transform: capitalize;
		-webkit-transition: all 0.5s ease 0s;
		-moz-transition: all 0.5s ease 0s;
		-o-transition: all 0.5s ease 0s;
		transition: all 0.5s ease 0s;
	}
	.ow-navigation .navbar-nav li > .dropdown-menu > li.dropdown .dropdown-menu li > a {
		font-family: 'Open Sans', sans-serif;
		font-size: 13.01px;
		font-weight: normal;
		color: #c5c5c5;
		text-transform: capitalize;
	}
	.ow-navigation .navbar-nav li .dropdown-menu li:hover > a,
	.ow-navigation .navbar-nav li > .dropdown-menu > li.dropdown .dropdown-menu li:hover > a {
		color: #f9c56a;
	}
	.ow-navigation .nav.navbar-nav li.dropdown:hover > .dropdown-menu {
		margin-top: 0;
		opacity: 1;
		visibility: visible;
	}
	.ow-navigation ul > li > .dropdown-menu {
		left: 0; 
	}
	.ow-navigation .navbar-collapse > ul > li:last-child > .dropdown-menu,
	.ow-navigation .navbar-collapse > ul > li:nth-last-child(2) > .dropdown-menu {
		right: 0; 
	}
	.ow-navigation ul > li > .dropdown-menu:not(.mega-menu),
	.ow-navigation ul > li .dropdown-menu:not(.mega-menu) ul,
	.ow-navigation ul > li .dropdown-menu:not(.mega-menu) ul ul ul,
	.ow-navigation ul > li .dropdown-menu:not(.mega-menu) ul ul ul ul ul,
	.ow-navigation ul > li .dropdown-menu:not(.mega-menu) ul ul ul ul ul ul ul,
	.ow-navigation ul > li .dropdown-menu:not(.mega-menu) ul ul ul ul ul ul ul ul ul,
	.ow-navigation .navbar-collapse > ul > li:last-child .dropdown-menu:not(.mega-menu) ul ul,
	.ow-navigation .navbar-collapse > ul > li:last-child .dropdown-menu:not(.mega-menu) ul ul ul ul,
	.ow-navigation .navbar-collapse > ul > li:last-child .dropdown-menu:not(.mega-menu) ul ul ul ul ul ul,
	.ow-navigation .navbar-collapse > ul > li:last-child .dropdown-menu:not(.mega-menu) ul ul ul ul ul ul ul ul,
	.ow-navigation .navbar-collapse > ul > li:last-child .dropdown-menu:not(.mega-menu) ul ul ul ul ul ul ul ul ul ul,
	.ow-navigation .navbar-collapse > ul > li:nth-last-child(2) .dropdown-menu:not(.mega-menu) ul ul,
	.ow-navigation .navbar-collapse > ul > li:nth-last-child(2) .dropdown-menu:not(.mega-menu) ul ul ul ul,
	.ow-navigation .navbar-collapse > ul > li:nth-last-child(2) .dropdown-menu:not(.mega-menu) ul ul ul ul ul ul,
	.ow-navigation .navbar-collapse > ul > li:nth-last-child(2) .dropdown-menu:not(.mega-menu) ul ul ul ul ul ul ul ul,
	.ow-navigation .navbar-collapse > ul > li:nth-last-child(2) .dropdown-menu:not(.mega-menu) ul ul ul ul ul ul ul ul ul ul	{
		right: auto;
	}
	.ow-navigation ul > li .dropdown-menu:not(.mega-menu) ul,
	.ow-navigation ul > li .dropdown-menu:not(.mega-menu) ul ul ul,
	.ow-navigation ul > li .dropdown-menu:not(.mega-menu) ul ul ul ul ul,
	.ow-navigation ul > li .dropdown-menu:not(.mega-menu) ul ul ul ul ul ul ul,
	.ow-navigation ul > li .dropdown-menu:not(.mega-menu) ul ul ul ul ul ul ul ul ul,
	.ow-navigation .navbar-collapse > ul > li:last-child .dropdown-menu:not(.mega-menu) ul ul,
	.ow-navigation .navbar-collapse > ul > li:last-child .dropdown-menu:not(.mega-menu) ul ul ul ul,
	.ow-navigation .navbar-collapse > ul > li:last-child .dropdown-menu:not(.mega-menu) ul ul ul ul ul ul,
	.ow-navigation .navbar-collapse > ul > li:last-child .dropdown-menu:not(.mega-menu) ul ul ul ul ul ul ul ul,
	.ow-navigation .navbar-collapse > ul > li:last-child .dropdown-menu:not(.mega-menu) ul ul ul ul ul ul ul ul ul ul,
	.ow-navigation .navbar-collapse > ul > li:nth-last-child(2) .dropdown-menu:not(.mega-menu) ul ul,
	.ow-navigation .navbar-collapse > ul > li:nth-last-child(2) .dropdown-menu:not(.mega-menu) ul ul ul ul,
	.ow-navigation .navbar-collapse > ul > li:nth-last-child(2) .dropdown-menu:not(.mega-menu) ul ul ul ul ul ul,
	.ow-navigation .navbar-collapse > ul > li:nth-last-child(2) .dropdown-menu:not(.mega-menu) ul ul ul ul ul ul ul ul,
	.ow-navigation .navbar-collapse > ul > li:nth-last-child(2) .dropdown-menu:not(.mega-menu) ul ul ul ul ul ul ul ul ul ul {
		left: 100%;
	}	
	.ow-navigation ul > li .dropdown-menu:not(.mega-menu) ul ul,
	.ow-navigation ul > li .dropdown-menu:not(.mega-menu) ul ul ul ul,
	.ow-navigation ul > li .dropdown-menu:not(.mega-menu) ul ul ul ul ul ul,
	.ow-navigation ul > li .dropdown-menu:not(.mega-menu) ul ul ul ul ul ul ul ul,
	.ow-navigation ul > li .dropdown-menu:not(.mega-menu) ul ul ul ul ul ul ul ul ul ul,
	.ow-navigation .navbar-collapse > ul > li:last-child .dropdown-menu:not(.mega-menu) ul,
	.ow-navigation .navbar-collapse > ul > li:last-child .dropdown-menu:not(.mega-menu) ul ul ul,
	.ow-navigation .navbar-collapse > ul > li:last-child .dropdown-menu:not(.mega-menu) ul ul ul ul ul,
	.ow-navigation .navbar-collapse > ul > li:last-child .dropdown-menu:not(.mega-menu) ul ul ul ul ul ul ul,
	.ow-navigation .navbar-collapse > ul > li:last-child .dropdown-menu:not(.mega-menu) ul ul ul ul ul ul ul ul ul,
	.ow-navigation .navbar-collapse > ul > li:nth-last-child(2) .dropdown-menu:not(.mega-menu) ul,
	.ow-navigation .navbar-collapse > ul > li:nth-last-child(2) .dropdown-menu:not(.mega-menu) ul ul ul,
	.ow-navigation .navbar-collapse > ul > li:nth-last-child(2) .dropdown-menu:not(.mega-menu) ul ul ul ul ul,
	.ow-navigation .navbar-collapse > ul > li:nth-last-child(2) .dropdown-menu:not(.mega-menu) ul ul ul ul ul ul ul,
	.ow-navigation .navbar-collapse > ul > li:nth-last-child(2) .dropdown-menu:not(.mega-menu) ul ul ul ul ul ul ul ul ul {
		right: 100%;
	}	
	.ow-navigation ul > li .dropdown-menu:not(.mega-menu) ul ul,
	.ow-navigation ul > li .dropdown-menu:not(.mega-menu) ul ul ul ul,
	.ow-navigation ul > li .dropdown-menu:not(.mega-menu) ul ul ul ul ul ul,
	.ow-navigation ul > li .dropdown-menu:not(.mega-menu) ul ul ul ul ul ul ul ul,
	.ow-navigation ul > li .dropdown-menu:not(.mega-menu) ul ul ul ul ul ul ul ul ul ul,
	.ow-navigation .navbar-collapse > ul > li:last-child > .dropdown-menu:not(.mega-menu),
	.ow-navigation .navbar-collapse > ul > li:last-child .dropdown-menu:not(.mega-menu) ul,
	.ow-navigation .navbar-collapse > ul > li:last-child .dropdown-menu:not(.mega-menu) ul ul ul,
	.ow-navigation .navbar-collapse > ul > li:last-child .dropdown-menu:not(.mega-menu) ul ul ul ul ul,
	.ow-navigation .navbar-collapse > ul > li:last-child .dropdown-menu:not(.mega-menu) ul ul ul ul ul ul ul,
	.ow-navigation .navbar-collapse > ul > li:last-child .dropdown-menu:not(.mega-menu) ul ul ul ul ul ul ul ul ul,
	.ow-navigation .navbar-collapse > ul > li:nth-last-child(2) > .dropdown-menu:not(.mega-menu),
	.ow-navigation .navbar-collapse > ul > li:nth-last-child(2) .dropdown-menu:not(.mega-menu) ul,
	.ow-navigation .navbar-collapse > ul > li:nth-last-child(2) .dropdown-menu:not(.mega-menu) ul ul ul,
	.ow-navigation .navbar-collapse > ul > li:nth-last-child(2) .dropdown-menu:not(.mega-menu) ul ul ul ul ul,
	.ow-navigation .navbar-collapse > ul > li:nth-last-child(2) .dropdown-menu:not(.mega-menu) ul ul ul ul ul ul ul,
	.ow-navigation .navbar-collapse > ul > li:nth-last-child(2) .dropdown-menu:not(.mega-menu) ul ul ul ul ul ul ul ul ul {
		left: auto;
	}
	
	/* -- Navbar Fixed */
	.header-section.navbar-fixed-top .ow-navigation ul li > .dropdown-menu {
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.13);
	}
	
	/* - Mega Dropdown Menu */
	.ow-navigation .mega-dropdown {
		position: static;
		display: block;
	}
	.ow-navigation .mega-dropdown:hover {
		opacity: 1;
		visibility: visible;
		margin-top: 0;
	}
	.ow-navigation .mega-dropdown .mega-menu {
		background-color: #2b2b2b;
		border-radius: 0;
		box-shadow: none;
		padding: 0;
		width: 100%;
		opacity: 0;
		visibility: hidden;
		margin-top: 30px;
		position: absolute;
	}
	.header-section4 .ow-navigation .mega-dropdown .mega-menu {
		border-top-color: #212121;
	}
	.header-section:not(.header-section2) .ow-navigation li.mega-dropdown > a::before {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		bottom: -6px;
		width: 9px;
		height: 9px;
		margin: 0 auto;
		opacity: 0;
		background-color: #cc9900;
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-webkit-transition: all 1s ease 0s;
		-moz-transition: all 1s ease 0s;
		-o-transition: all 1s ease 0s;
		transition: all 1s ease 0s;
		z-index: 1001;
	}
	.header-section:not(.header-section2) .ow-navigation li.mega-dropdown:hover > a::before {
		transform: rotate(765deg);
		-webkit-transform: rotate(765deg);
		-moz-transform: rotate(765deg);
		-ms-transform: rotate(765deg);
		opacity: 1;
	}
	.ow-navigation .mega-dropdown .mega-menu .dropdown-box {
		padding: 35px 30px;
		border-left: 1px solid rgba(255,255,255,0.1);
	}
	
	/* - Navigation Logo Middle */
	.header-section2 .ow-navigation .navbar-brand {
		position: absolute;
		left: -55px;
		right: 0;
		margin: 0 auto;
		text-align: center;
		width: 280px;
		top: 30px;
	}
	.header-section2 .ow-navigation .navbar-brand img {
		display: inline-block;
	}
	.header-section2 .ow-navigation .nav.navbar-nav > li {
		margin-left: 17px;
		margin-right: 17px;
	}
	.header-section2 .ow-navigation .nav.navbar-nav > li:nth-child(4) {
		margin-right: 185px;
	}
	.header-section2 .ow-navigation .nav.navbar-nav > li:nth-child(5) {
		margin-left: 195px;
	}
	.header-section2 .ow-navigation .nav.navbar-nav > li:first-child {
		margin-left: 0;
	}
	.header-section2 .ow-navigation .nav.navbar-nav > li:last-child {
		margin-right: 0;
	}
	.header-section2 .ow-navigation .nav.navbar-nav > li > a {
		padding: 45px 0;
		position: relative;
	}
	.header-section2 .ow-navigation .nav.navbar-nav > li > a::before {
		background-color: #fff;
		content: "";
		position: absolute;
		left: 0;
		width: 0;
		bottom: -1px;
		height: 2px;
		-webkit-transition: all 1s ease 0s;
		-moz-transition: all 1s ease 0s;
		-o-transition: all 1s ease 0s;
		transition: all 1s ease 0s;
	}
	.header-section2 .ow-navigation .nav.navbar-nav > li.active > a::before,
	.header-section2 .ow-navigation .nav.navbar-nav > li.active:hover > a::before,
	.header-section2 .ow-navigation .nav.navbar-nav > li.active:focus > a::before,
	.header-section2 .ow-navigation .nav.navbar-nav > li:hover > a::before,
	.header-section2 .ow-navigation .nav.navbar-nav > li:focus > a::before,
	.header-section2 .ow-navigation .nav.navbar-nav > li > a:hover::before,
	.header-section2 .ow-navigation .nav.navbar-nav > li > a:focus::before {
		width: 100%;
	}
	
	/* - Header section 3 */
	.header-section3 .ow-navigation .navbar-brand  {
		margin-top: 29px;
		margin-bottom: 29px;
	}
	.header-section3 .ow-navigation .nav > li > a {
		padding-top: 41px;
		padding-bottom: 42px;
	}
	.header-section3 .ow-navigation .nav > li.dropdown > a::after {
		content: "\33";
		font-family: "ElegantIcons";
		font-variant: normal;
		font-weight: normal;
		line-height: 1;
		text-transform: none;
	}
	
	/* - Header section 4 */
	.header-shop .ow-navigation .navbar-brand,
	.header-border .ow-navigation .navbar-brand,
	.header-section4 .ow-navigation .navbar-brand,
	.header-section6 .ow-navigation .navbar-brand { 
		margin-top: 27px;
		margin-bottom: 27px;
	}
	.header-shop .ow-navigation .nav > li > a,
	.header-border .ow-navigation .nav > li > a,
	.header-section4 .ow-navigation .nav > li > a,
	.header-section6  .ow-navigation .nav > li > a {
		padding: 42px 10px;
	}
	.header-section4 .ow-navigation .nav.navbar-nav > li.active > a,
	.header-section4 .ow-navigation .nav.navbar-nav > li.active:hover > a,
	.header-section4 .ow-navigation .nav.navbar-nav > li.active:focus > a,
	.header-section4 .ow-navigation .nav.navbar-nav > li:hover > a,
	.header-section4 .ow-navigation .nav.navbar-nav > li:focus > a,
	.header-section4 .ow-navigation .nav.navbar-nav > li > a:hover,
	.header-section4 .ow-navigation .nav.navbar-nav > li > a:focus {
		background-color: rgba(204,153,0,0.25);
	}
	.header-border .ow-navigation .nav.navbar-nav > li.active > a,
	.header-border .ow-navigation .nav.navbar-nav > li.active:hover > a,
	.header-border .ow-navigation .nav.navbar-nav > li.active:focus > a,
	.header-border .ow-navigation .nav.navbar-nav > li:hover > a,
	.header-border .ow-navigation .nav.navbar-nav > li:focus > a,
	.header-border .ow-navigation .nav.navbar-nav > li > a:hover,
	.header-border .ow-navigation .nav.navbar-nav > li > a:focus ,
	.header-section4 .ow-navigation .nav.navbar-nav > li.active > a,
	.header-section4 .ow-navigation .nav.navbar-nav > li.active:hover > a,
	.header-section4 .ow-navigation .nav.navbar-nav > li.active:focus > a,
	.header-section4 .ow-navigation .nav.navbar-nav > li:hover > a,
	.header-section4 .ow-navigation .nav.navbar-nav > li:focus > a,
	.header-section4 .ow-navigation .nav.navbar-nav > li > a:hover,
	.header-section4 .ow-navigation .nav.navbar-nav > li > a:focus {
		color: #cc9900;
	}
	
	/* - header-section 6 */
	.header-section6  .ow-navigation {
		margin: 0;
	}
	.header-section6  .ow-navigation .nav li a {
		padding-left: 17px;
		padding-right: 17px;
	}
	.header-section6  .ow-navigation .nav li a,
	.header-section6 .ow-navigation .nav.navbar-nav > li.active > a, 
	.header-section6 .ow-navigation .nav.navbar-nav > li.active:hover > a, 
	.header-section6 .ow-navigation .nav.navbar-nav > li.active:focus > a, 
	.header-section6 .ow-navigation .nav.navbar-nav > li:hover > a, 
	.header-section6 .ow-navigation .nav.navbar-nav > li:focus > a, 
	.header-section6 .ow-navigation .nav.navbar-nav > li > a:hover, 
	.header-section6 .ow-navigation .nav.navbar-nav > li > a:focus {
		border: none;
	}
	
	/* - Header Section 7 */
	.header-section7 .ow-navigation .nav.navbar-nav > li.active > a,
	.header-section7 .ow-navigation .nav.navbar-nav > li.active:hover > a,
	.header-section7 .ow-navigation .nav.navbar-nav > li.active:focus > a,
	.header-section7 .ow-navigation .nav.navbar-nav > li:hover > a,
	.header-section7 .ow-navigation .nav.navbar-nav > li:focus > a,
	.header-section7 .ow-navigation .nav.navbar-nav > li > a:hover,
	.header-section7 .ow-navigation .nav.navbar-nav > li > a:focus {
		background-color: #cc9900;
		color: #fff;
	}
	
	/* - Header Section 9 */
	.header-section9 .ow-navigation {
		padding: 0;
	}
	.header-section9 .ow-navigation .navbar-brand {
		display: none;
	}
	.header-section9 .ow-navigation ul.nav > li {
		margin-left: 5px;
		margin-right: 5px;
	}
	.header-section9 .ow-navigation ul.nav > li > a {
		padding-top: 25px;
		padding-bottom: 25px;
	}
	.header-section9 .ow-navigation ul.nav > li:first-child a {
		padding-left: 0;
	}
	
	/* - Header Section 13 */
	.header-section13 .ow-navigation .nav.navbar-nav > li.active > a, 
	.header-section13 .ow-navigation .nav.navbar-nav > li.active:hover > a, 
	.header-section13 .ow-navigation .nav.navbar-nav > li.active:focus > a, 
	.header-section13 .ow-navigation .nav.navbar-nav > li:hover > a, 
	.header-section13 .ow-navigation .nav.navbar-nav > li:focus > a, 
	.header-section13 .ow-navigation .nav.navbar-nav > li > a:hover, 
	.header-section13 .ow-navigation .nav.navbar-nav > li > a:focus {
		color: #cc9900;
	}
	.header-section13 .ow-navigation .nav.navbar-nav > li > a::before {
		content: "\e0a6 \e0a6";
		font-family:ElegantIcons;
		background-color: transparent;
		bottom: 22px;
		width: 0;
		overflow: hidden;
		height: 10px;
		margin: 0 auto;
		right: 0;
	}
	.header-section13 .ow-navigation .nav.navbar-nav > li.active > a::before,
	.header-section13 .ow-navigation .nav.navbar-nav > li.active:hover > a::before,
	.header-section13 .ow-navigation .nav.navbar-nav > li.active:focus > a::before,
	.header-section13 .ow-navigation .nav.navbar-nav > li:hover > a::before,
	.header-section13 .ow-navigation .nav.navbar-nav > li:focus > a::before,
	.header-section13 .ow-navigation .nav.navbar-nav > li > a:hover::before,
	.header-section13 .ow-navigation .nav.navbar-nav > li > a:focus::before {
		width: 21px;
	}	
	.vertical-menu .ow-navigation ul > li .dropdown-menu:not(.mega-menu) ul ul,
	.vertical-menu .ow-navigation ul > li .dropdown-menu:not(.mega-menu) ul ul ul ul,
	.vertical-menu .ow-navigation ul > li .dropdown-menu:not(.mega-menu) ul ul ul ul ul ul,
	.vertical-menu .ow-navigation ul > li .dropdown-menu:not(.mega-menu) ul ul ul ul ul ul ul ul,
	.vertical-menu .ow-navigation ul > li .dropdown-menu:not(.mega-menu) ul ul ul ul ul ul ul ul ul ul,
	.vertical-menu .ow-navigation .navbar-collapse > ul > li:last-child > .dropdown-menu:not(.mega-menu),
	.vertical-menu .ow-navigation .navbar-collapse > ul > li:last-child .dropdown-menu:not(.mega-menu) ul,
	.vertical-menu .ow-navigation .navbar-collapse > ul > li:last-child .dropdown-menu:not(.mega-menu) ul ul ul,
	.vertical-menu .ow-navigation .navbar-collapse > ul > li:last-child .dropdown-menu:not(.mega-menu) ul ul ul ul ul,
	.vertical-menu .ow-navigation .navbar-collapse > ul > li:last-child .dropdown-menu:not(.mega-menu) ul ul ul ul ul ul ul,
	.vertical-menu .ow-navigation .navbar-collapse > ul > li:last-child .dropdown-menu:not(.mega-menu) ul ul ul ul ul ul ul ul ul,
	.vertical-menu .ow-navigation .navbar-collapse > ul > li:nth-last-child(2) > .dropdown-menu:not(.mega-menu),
	.vertical-menu .ow-navigation .navbar-collapse > ul > li:nth-last-child(2) .dropdown-menu:not(.mega-menu) ul,
	.vertical-menu .ow-navigation .navbar-collapse > ul > li:nth-last-child(2) .dropdown-menu:not(.mega-menu) ul ul ul,
	.vertical-menu .ow-navigation .navbar-collapse > ul > li:nth-last-child(2) .dropdown-menu:not(.mega-menu) ul ul ul ul ul,
	.vertical-menu .ow-navigation .navbar-collapse > ul > li:nth-last-child(2) .dropdown-menu:not(.mega-menu) ul ul ul ul ul ul ul,
	.vertical-menu .ow-navigation .navbar-collapse > ul > li:nth-last-child(2) .dropdown-menu:not(.mega-menu) ul ul ul ul ul ul ul ul ul {
		left: 99.8%;
	}
	.vertical-menu .ow-navigation .navbar-collapse > ul > li:last-child > .dropdown-menu, 
	.vertical-menu .ow-navigation .navbar-collapse > ul > li:nth-last-child(2) > .dropdown-menu {
		right: auto;
	}
}

/* - max-width: 1600 */
@media (max-width: 1600px) {

}

/* -- min-width: 1201 to max-width: 1366 */
@media only screen and (min-width: 1201px) and (max-width: 1366px) {
	
}

/* -- min-width: 992 to max-width: 1200 */
@media only screen and (min-width: 992px) and (max-width: 1200px) {	
	.ow-navigation .navbar-collapse {
		padding-left: 0;
		padding-right: 0;
	}
	.ow-navigation .nav {
		text-align: center;		
		display: inline-block;
	}
	
	.ow-navigation .navbar-brand {
		 font-size: 20px;
	}
	.ow-navigation .nav.navbar-nav > li > a {
		padding-left: 10px;
		padding-right: 10px;
	}
	.home-shop-full .ow-navigation .nav.navbar-nav > li > a {
		padding-left: 8px;
		padding-right: 8px;
	}
	/* - Header Section 2 */
	.header-section2 .ow-navigation .navbar-brand {
		width: 210px;
	}
	.header-section2 .ow-navigation .nav.navbar-nav > li {
		margin-left: 10px;
		margin-right: 10px;
	}
	.header-section2 .ow-navigation .nav.navbar-nav > li:nth-child(4) {
		margin-right: 0;
	}
	.header-section2 .ow-navigation .nav.navbar-nav > li:nth-child(5) {
		margin-left: 257px;
	}
	
	/* - Header Section 4 */
	.header-section4 .ow-navigation .nav li a i { 
		margin-right: 5px;
	}
	.header-section4 .ow-navigation .nav li a {
		padding-left: 6px;
		padding-right: 6px;
	}
	
	/* - Header Section 9 */
	.header-section9 .ow-navigation .search-right-box {
		width: 250px;
		max-width: 250px;
	}
	.header-section9 .ow-navigation ul.nav > li {
		margin-left: 0;
		margin-right: 0;
	}
}

/* -- min-width: 768 to max-width: 991 */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.ow-navigation .navbar-collapse {
		padding-left: 0;
		padding-right: 0;		
	}
	.ow-navigation.navbar-right {
		padding-left: 0;
		padding-right: 0;
		margin-right: 0;
	}
}

/* - Navigation Menu Switch < 991 RES */
@media (max-width: 991px) {
	.ow-navigation {
		width: 100%;
	}
	.ow-navigation .navbar-collapse {
		border-top: none;
		box-shadow: none;
		width: 100%;
		overflow: auto !important;
		padding-bottom: 10px;
	}
	.ow-navigation .navbar-collapse.collapse { display: none!important; }
	.ow-navigation .navbar-nav { 
		float: none!important; 
		border-top: 1px solid #e7e7e7;
	}
	.ow-navigation .navbar-header { 
		float: none; 
	}
	.ow-navigation .navbar-brand { 
		margin: 28px 0;
	}
	.ow-navigation .navbar-toggle {
		background-color: #cc9900;
		border-color: #cc9900;
		border-radius: 0;
		display: block;
		margin-bottom: 32px;
		margin-right: 0;
		margin-top: 31px;
	}
	.navbar-default .navbar-toggle:focus, 
	.navbar-default .navbar-toggle:hover,
	.navbar-fixed-top .ow-navigation .navbar-toggle .icon-bar,
	.ow-navigation .navbar-toggle .icon-bar,
	.navbar-fixed-top .ow-navigation .navbar-toggle:focus,
	.navbar-fixed-top .ow-navigation .navbar-toggle:hover,
	.ow-navigation .navbar-default .navbar-toggle:focus, 
	.ow-navigation .navbar-default .navbar-toggle:hover,
	.ow-navigation .navbar-toggle:hover {
		background-color: #ffffff;
	}
	.navbar-default .navbar-toggle:focus .icon-bar, 
	.navbar-default .navbar-toggle:hover .icon-bar,
	.navbar-fixed-top .ow-navigation .navbar-toggle:focus .icon-bar,
	.navbar-fixed-top .ow-navigation .navbar-toggle:hover .icon-bar,
	.ow-navigation .navbar-toggle:hover .icon-bar {
		background-color: #cc9900;
	}   
	.ow-navigation .navbar-collapse > .nav.navbar-nav > li {
		margin: 0;
	}
	.ow-navigation .navbar-nav > li {
		display: inline-block;
		float: none;
		width: 100%;
	}
	.ow-navigation .nav.navbar-nav li > a,
	.ow-navigation .navbar-collapse > ul > li > a {
		padding-top: 10px;
		padding-bottom: 10px;
		width: 100%;
	}
	.ow-navigation .nav.navbar-nav li > a {
		padding-left: 0;
	}
	.ow-navigation .navbar-text {
		float: none;
		margin: 15px 0;
	}
	/* .ow-navigation .nav.navbar-nav > li.active > a,
	.ow-navigation .nav.navbar-nav > li.active:hover > a,
	.ow-navigation .nav.navbar-nav > li.active:focus > a,
	.ow-navigation .nav.navbar-nav > li:hover > a,
	.ow-navigation .nav.navbar-nav > li:focus > a,
	.ow-navigation .nav.navbar-nav > li > a:hover,
	.ow-navigation .nav.navbar-nav > li > a:focus,
	.ow-navigation .dropdown-menu li:hover > a,
	.ow-navigation .dropdown-menu li > a:hover {
		color: #fff;
	} */
	/* .text-color-black .ow-navigation .nav.navbar-nav > li > a,
	.text-color-black .ow-navigation .nav.navbar-nav > li.active > a,
	.text-color-black .ow-navigation .nav.navbar-nav > li.active:hover > a,
	.text-color-black .ow-navigation .nav.navbar-nav > li.active:focus > a,
	.text-color-black .ow-navigation .nav.navbar-nav > li:hover > a,
	.text-color-black .ow-navigation .nav.navbar-nav > li:focus > a,
	.text-color-black .ow-navigation .nav.navbar-nav > li > a:hover,
	.text-color-black .ow-navigation .nav.navbar-nav > li > a:focus,
	.text-color-black .ow-navigation .dropdown-menu li:hover > a,
	.text-color-black .ow-navigation .dropdown-menu li > a:hover,
	.text-color-black .ow-navigation .dropdown-menu > li:hover > a,
	.text-color-black .ow-navigation .dropdown-menu > li:focus > a,
	.text-color-black .ow-navigation .dropdown-menu > li > a:hover,
	.text-color-black .ow-navigation .dropdown-menu > li > a:focus {
		color: #fff;
	} */
	
	/* since 3.1.0 */
	.ow-navigation .navbar-collapse.collapse.in {  display: block!important; }
	.ow-navigation .collapsing { overflow: hidden!important; }
	.ow-navigation .dropdown-menu {
		background-color: transparent;
		border: 0 none;
		margin-top: 0;
		padding-left: 10px;
		padding-top: 0;
		position: relative;
		width: 100%;
		box-shadow: none;
	}
	.ow-navigation .dropdown-menu li {
		display: inline-block;
		width: 100%;
	}
	.text-color-black.ow-navigation .dropdown-menu li > a {
		color: #212121;
	}
	.ow-navigation .dropdown-menu li > a {
		color: #999;
	}
	.ow-navigation .dropdown-menu li:hover > a,
	.ow-navigation .dropdown-menu li > a:hover,
	.ow-navigation .dropdown-menu > li:hover > a,
	.ow-navigation .dropdown-menu > li:focus > a,
	.ow-navigation .dropdown-menu > li > a:hover,
	.ow-navigation .dropdown-menu > li > a:focus {
		color: #cc9900;
	}
	/* Switch */
	.ow-navigation .ddl-switch {
		background-color: #cc9900;
		cursor: pointer;
		font-size: 18px;
		padding: 1.5px 5px;
		position: absolute;
		right: 0;
		z-index: 100;
		top: 6px;
		color: #fff;
	}
	.ow-navigation .ddl-active > .ddl-switch:before {
		content: "\f106";
	}
	
	/* - Mega Menu */
	.text-color-black .ow-navigation .mega-dropdown .mega-menu .dropdown-box {
		padding: 0;
	}
	.text-color-black .ow-navigation .mega-dropdown .mega-menu .dropdown-box h4,
	.text-color-black .ow-navigation .mega-dropdown .mega-menu .dropdown-box ul li a {
		color: #212121;
	}
	.text-color-black .ow-navigation .mega-dropdown .mega-menu .dropdown-box ul li a:hover {
		color: #cc9900;
	}
	.ow-navigation .mega-menu {
		padding-left: 0;
	}
	.ow-navigation .mega-dropdown .mega-menu .dropdown-box ul li:last-child,
	.ow-navigation .mega-dropdown .mega-menu .dropdown-box ul li {
		margin-bottom: 10px;
	}
	.ow-navigation .mega-dropdown .mega-menu .dropdown-box h4 {
		margin-bottom: 15px;
		margin-top: 15px;
	}
}

/* -- max-width: 767 */
@media (max-width: 767px) {
	/* .ow-navigation {
		padding: 0;
	} */
	.ow-navigation .navbar-brand img { 
		display: none;
	}
}
/* -- max-width: 639 */
@media (max-width: 639px) {
	.ow-navigation .navbar-brand {
		font-size: 22px;
		margin: 31px 0 32px;
	}
}
/* -- max-width: 479 */
@media (max-width: 479px) {
	
}