@font-face {
	font-family: star;
	src:url("../fonts/star.eot");
	src:url("../fonts/star.eot?#iefix") format("embedded-opentype"),
	url("../fonts/star.woff") format("woff"),
	url("../fonts/star.ttf") format("truetype"),
	url("../fonts/star.svg#star") format("svg");
	font-weight:400;
	font-style:normal;
}
@font-face {
	font-family: WooCommerce;
	src:url("../fonts/WooCommerce.eot");
	src:url("../fonts/WooCommerce.eot?#iefix") format("embedded-opentype"),
	url("../fonts/WooCommerce.woff") format("woff"),
	url("../fonts/WooCommerce.ttf") format("truetype"),
	url("../fonts/WooCommerce.svg#WooCommerce") format("svg");
	font-weight:400;
	font-style:normal;
}

.woocommerce .woocommerce-result-count {
	float: left;
	font-family: 'Montserrat', sans-serif; 
	font-size: 18px;
	color: #000;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 0;
	line-height: 61px;
}
.woocommerce .woocommerce-ordering {
	float: right;
}
.woocommerce .woocommerce-ordering select {
	font-size: 14px;
	font-weight: 600;
	border: 1px solid #ccc;
	padding: 15px 25px;
}
.woocommerce .products ul, 
.woocommerce ul.products {
	margin-top: 50px;
	clear: both;
    list-style: none;
    padding: 0;
	float: left;
	box-sizing: border-box;
}
.woocommerce .products ul li, 
.woocommerce ul.products li {
	float: left;
	padding: 0 15px;
	box-sizing: border-box;
	width: 33.3333%;
	position: relative;
	text-align: center;
	margin-bottom: 50px;
	overflow: hidden;
}
.product-section-no-sidebar.woocommerce .products ul li, 
.product-section-no-sidebar.woocommerce ul.products li {
	width: 25%;
}
.woocommerce span.new,
.woocommerce span.onsale {
    position: absolute;
	top: 0;
	z-index: 1;
}
.woocommerce span.onsale {
	right: 0;
}
.woocommerce span.new {
	left: 0;
}
.woocommerce .products ul li a:not(.button), 
.woocommerce ul.products li a:not(.button) {
	text-decoration: none;
	display: inline-block;
	width: 100%;
	position: relative;
	overflow: hidden;
}
.woocommerce .products ul li > a .product-img-box,
.woocommerce ul.products li > a .product-img-box {
	position: relative;
	overflow: hidden;
}
.woocommerce .products ul li > a .product-img-box::before ,
.woocommerce ul.products li > a .product-img-box::before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(51,51,51,0.5);
	display: inline-block;
	opacity: 0;
	z-index: 1;
	transition: all 0.2s ease-in-out 0.2s;
	-webkit-transition: all 0.2s ease-in-out 0.2s;
	-moz-transition: all 0.2s ease-in-out 0.2s;
	-o-transition: all 0.2s ease-in-out 0.2s;
	transform: translate(460px, -100px) rotate(180deg);
	-webkit-transform: translate(460px, -100px) rotate(180deg);
	-moz-transform: translate(460px, -100px) rotate(180deg);
	-ms-transform: translate(460px, -100px) rotate(180deg);	
	z-index: 2;
}
.woocommerce .products ul li:hover > a .product-img-box::before ,
.woocommerce ul.products li:hover > a .product-img-box::before {
	opacity: 1;
	transform: translate(0px, 0px);
	-webkit-transform: translate(0px, 0px);
	-moz-transform: translate(0px, 0px);
	-ms-transform: translate(0px, 0px);
}
.woocommerce .products ul li a h3, 
.woocommerce ul.products li a h3 {
	font-family: 'Montserrat', sans-serif; 
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	text-transform: uppercase;
}
.woocommerce .products ul li:hover a h3, 
.woocommerce ul.products li:hover a h3 {
	color: #cc9900;
}
.woocommerce ul.products li.product .star-rating {
    font-size: .857em
}
.woocommerce #reviews #comments ol.commentlist ul.children .star-rating {
    display: none
}
.woocommerce .star-rating {
    float: right;
    overflow: hidden;
    position: relative;
    height: 1em;
    line-height: 1;
    font-size: 1em;
    width: 5.4em;
    font-family: star
}
.woocommerce .star-rating:before {
    content: "\73\73\73\73\73";
    color: #FC5536;
    float: left;
    top: 0;
    left: 0;
    position: absolute
}
.woocommerce .star-rating span {
    overflow: hidden;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 1.5em
}
.woocommerce .star-rating span:before {
    content: "\53\53\53\53\53";
    top: 0;
    position: absolute;
    left: 0;
	color: #FC5536;
}
.woocommerce .widget-area .star-rating:before,
.woocommerce .widget-area .star-rating span:before {
	color: #FC5536;
}
.woocommerce li.product .star-rating:before,
.woocommerce li.product .star-rating span:before {
	color: #fff;
}
.woocommerce .woocommerce-product-rating {
    line-height: 2;
    display: block;
}
.woocommerce .woocommerce-product-rating:after,
.woocommerce .woocommerce-product-rating:before {
    content: " ";
    display: table;
}
.woocommerce .woocommerce-product-rating .star-rating {
    margin: .5em 4px 0 0;
    float: left;
}
.woocommerce .products .star-rating {
    display: inline-block;
    margin: 0 0 .5em;
    float: none;
}
.woocommerce .hreview-aggregate .star-rating {
    margin: 10px 0 0;
}
.woocommerce ul.cart_list li .star-rating,
.woocommerce ul.product_list_widget li .star-rating {
    float: none;
}
.woocommerce ul.products li.product .price {
	font-family: 'Montserrat', sans-serif; 
    color: #333333;
    display: block;
    font-weight: 400;
    margin-bottom: .5em;
    font-size: 15px;
}
.woocommerce ul.products li.product .price .amount {
	display: inline-block;
	margin: 0 5px;
}
.woocommerce ul.products li.product .price del {
    color: #cccccc;
    opacity: .8;
}
.woocommerce ul.products li.product .price del span {
	text-decoration: line-through;
}
.woocommerce ul.products li.product .price ins {
    background: 0 0;
    font-weight: 700
}
.woocommerce ul.products li.product .price .from {
    font-size: .67em;
    margin: -2px 0 0;
    text-transform: uppercase;
    color: rgba(132, 132, 132, .5);
}
.woocommerce ul.products li.product .button {
    margin-top: 1em;
}
.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button  {
	font-size: 13px;
    margin: 0;
    line-height: 1;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif; 
    text-decoration: none;
    overflow: visible;
    border-radius: 0;
    color: #333333;
    border: 0;
    white-space: nowrap;
    display: inline-block;
    box-shadow: none;
	letter-spacing: 0.65px;
    -webkit-box-shadow: none;
	text-transform: uppercase;
    text-shadow: none;
	border: 2px solid #333333;
	padding: 10px 20px;
}
.woocommerce ul.products li.product  a.button.view-cart::before { 
	content: "\4e";
}
.woocommerce a.button::before { 
	content: "\4c";
	font-family:ElegantIcons;
	font-size: 15px;
	margin-right: 10px;
}
.woocommerce  a.button:hover { 
	background-color: #333333;
	color: #fff;
}
.woocommerce nav.woocommerce-pagination {
    text-align: center;
	float: left;
	width: 100%;
}
.woocommerce nav.woocommerce-pagination ul {
    display: inline-block;
    white-space: nowrap;
    padding: 0;
    border: 1px solid #24d3b0;
    border-right: 0;
    margin: 1px;
}
.woocommerce nav.woocommerce-pagination ul li {
    border-right: 1px solid #24d3b0;
    padding: 0;
    margin: 0;
    float: left;
    display: inline;
    overflow: hidden;
}
.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span {
    margin: 0;
    text-decoration: none;
    line-height: 1;
    font-size: 1em;
    font-weight: 400;
    padding: 0.5em 1em;
    min-width: 1em;
    display: block;
}
.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current {
    background: #24d3b0;
    color: #fff;
}
.woocommerce ul.products li.product .whishlist-btn {
	position: absolute;
	top: 50%;
	transform: translate(0%, -50%);
	-webkit-transform: translate(0%, -50%);
	-moz-transform: translate(0%, -50%);
	-ms-transform: translate(0%, -50%);	
	left: 0;
	right: 0;
	text-align: center;
	margin-top: -50px;
	z-index: 3;
	opacity: 0;
}
.woocommerce ul.products li.product .whishlist-btn a {
	width: 40px;
	height: 40px;
	display: inline-block;
	border: 2px solid #fff;
	color: #fff;
	line-height: 36px;
}
.woocommerce ul.products li.product .whishlist-btn a:hover {
	background-color: #fff;
	color: #666666;
}
.woocommerce ul.products li.product:hover .whishlist-btn {
	opacity: 1;
}
/* -- Single Prodcut */
div.product div.images, 
div.product div.summary {
	width: 47.4286%;
}
div.product div.images {
	float: left;
}
.woocommerce div.product div.images div.thumbnails {
	padding-top: 1em;
}
.woocommerce div.product div.thumbnails a {
	float: left;
    margin-bottom: 1em;
    margin-right: 3.8%;
    width: 30.75%;
}
.woocommerce #content div.product div.thumbnails a.last, 
.woocommerce div.product div.thumbnails a.last, 
.woocommerce-page #content div.product div.thumbnails a.last, 
.woocommerce-page div.product div.thumbnails a.last {
	margin-right: 0;
}

div.product div.summary {
	float: right;
}
div.product div.summary .product_title {
	margin-top: 0;
}
.woocommerce-review-link  {
	color: #FC5536;
}
.woocommerce div.product .summary p {
	font-size: 16px;
	line-height: 30px;
	margin-bottom: 25px;
}
.woocommerce div.product p.price, 
.woocommerce div.product span.price {
	color: #FC5536;
    font-size: 1.25em;
}
.woocommerce div.product form.cart {
	margin-bottom: 25px;
}
.woocommerce div.product form.cart div.quantity {
	float: left;
}
.product-detail .quantity {
	display: inline-block;
}
.product-detail .quantity input {
	width: 68px;
	height: 40px;
	border: 1px solid #cccccc;
	border-radius: 0;
	margin-right: 0;
}
.product-detail .quantity input[type="button"] {
	border: none;
	width: 41px;
	height: 40px;
	border-radius: 0;
	display: inline-block;
	font-size: 30px;
	padding: 0;
	line-height: 40px;
	outline: none;
}
.woocommerce .quantity .qty {
    text-align: center;
	font-family: 'Montserrat', sans-serif; 
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 0.375px;
	color: #666666;
	margin: 0 10px;
}
.woocommerce .product_meta {
	font-size: 16px;
	font-weight: bold;
}
.woocommerce .product_meta span > a  {
	color: #FC5536;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
}
.woocommerce .product_meta span > a:hover {
	color: #000;
}

/* -- Review Tabs */
.woocommerce .type-product .woocommerce-tabs {
	clear: both;
	margin-top: 35px;
	display: inline-block;
	width: 100%;
}
.woocommerce .type-product .woocommerce-tabs ul.tabs {
    list-style: none;
    padding: 0;
    margin: 0 0 1.618em;
    overflow: hidden;
    position: relative;
}
.woocommerce .type-product .woocommerce-tabs ul.tabs li {
    border: none;
    background-color: transparent;
    display: inline-block;
    position: relative;
    z-index: 0;
    margin: 0 22px;
}
.woocommerce .type-product .woocommerce-tabs ul.tabs li:first-child {
	margin-left: 0;
}
.woocommerce .type-product .woocommerce-tabs ul.tabs li a {
    display: inline-block;
    padding: .5em 0 15px;
	font-size: 15px;
    font-weight: 700;
    color: #cccccc;
    text-decoration: none;
	font-family: "Montserrat",sans-serif;
	text-transform: uppercase;
	position: relative;
}
.woocommerce .type-product .woocommerce-tabs ul.tabs li a::before {
	content: "";
	position: absolute;
	bottom: -1px;
	height: 3px;
	background-color: #333;
	left: 0;
	right: 0;
	opacity: 0;
}
.woocommerce .type-product .woocommerce-tabs ul.tabs li a:hover,
.woocommerce .type-product .woocommerce-tabs ul.tabs li a:focus,
.woocommerce .type-product .woocommerce-tabs ul.tabs li.active a  {
    text-decoration: none;
    color: #333333;
}
.woocommerce .type-product .woocommerce-tabs ul.tabs li a:hover::before,
.woocommerce .type-product .woocommerce-tabs ul.tabs li a:focus::before,
.woocommerce .type-product .woocommerce-tabs ul.tabs li.active a::before  {
	opacity: 1;
}
.woocommerce .type-product .woocommerce-tabs ul.tabs li:focus,
.woocommerce .type-product .woocommerce-tabs ul.tabs li:hover,
.woocommerce .type-product .woocommerce-tabs ul.tabs li.active {
    background-color: transparent;
	border-bottom-color: #fff;
    z-index: 2;
}
.woocommerce .type-product .woocommerce-tabs ul.tabs:before {
    position: absolute;
    content: " ";
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #ccc;
    z-index: 1;
}
.woocommerce .type-product .woocommerce-tabs .panel {
    margin: 0 0 2em;
    padding: 0;
	background-color: transparent;
	border: none;
	box-shadow: none;
	text-align: left;
}
.woocommerce .type-product .woocommerce-tabs .panel p,
.woocommerce .type-product .woocommerce-tabs .panel ul li {
	color: #666666;
	font-size: 13px;
	letter-spacing: 0.325px;
	line-height: 24px;
}
.woocommerce .type-product .woocommerce-tabs .panel ul {
	padding-left: 0;
}
.woocommerce .type-product .woocommerce-tabs .panel ul li {
	display: inline-block;
	width: 100%;
}
.woocommerce .type-product .woocommerce-tabs .panel ul li::before {
	content: "\5e";
	font-family:ElegantIcons;
	margin-right: 5px;
}

/* -- Coments List */
.woocommerce #reviews #comments ol.commentlist {
    margin: 0;
    width: 100%;
    background: 0 0;
    list-style: none;
	padding-left: 0;
}
.woocommerce #reviews #comments ol.commentlist li {
    padding: 0;
    margin: 0 0 20px;
    position: relative;
    background: 0;
    border: 0;
}
.woocommerce #reviews #comments ol.commentlist li .meta {
    color: #777;
    font-size: .75em;
}
.woocommerce #reviews #comments ol.commentlist li img.avatar {
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    padding: 3px;
    width: 32px;
    height: auto;
    background: #ebe9eb;
    border: 1px solid #e4e1e3;
    margin: 0;
    box-shadow: none;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text {
    margin: 0 0 0 50px;
    border: 1px solid #e4e1e3;
    border-radius: 4px;
    padding: 1em 1em 0;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text p {
    margin: 0 0 1em;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta {
    font-size: .83em;
}
.woocommerce #reviews #comments ol.commentlist ul.children {
    list-style: none;
    margin: 20px 0 0 50px;
}
.woocommerce #reviews #comments ol.commentlist ul.children .star-rating {
    display: none;
}
.woocommerce #reviews #comments ol.commentlist #respond {
    border: 1px solid #e4e1e3;
    border-radius: 4px;
    padding: 1em 1em 0;
    margin: 20px 0 0 50px;
}
.woocommerce #reviews #comments .commentlist>li:before {
    content: "";
}
.woocommerce .comment-respond h3.comment-reply-title {
	margin-bottom: 25px;
}
.woocommerce #review_form .comment-form {
	margin-top: 0;
}
.woocommerce #review_form #respond {
    position: static;
    margin: 0;
    width: auto;
    padding: 0;
    background: 0 0;
    border: 0;
}
.woocommerce #review_form #respond:after,
.woocommerce #review_form #respond:before {
    content: " ";
    display: table;
}
.woocommerce p.stars a:before,
.woocommerce p.stars a:hover~a:before {
    content: "\e021";
}
.woocommerce #review_form #respond p {
    margin: 0 0 10px;
}
.woocommerce #review_form #respond .form-submit input {
    left: auto;
}
.woocommerce #review_form #respond textarea {
    box-sizing: border-box;
    width: 100%;
	border: 1px solid #ddd;
}
.woocommerce p.stars a {
    position: relative;
    height: 1em;
    width: 1em;
    text-indent: -999em;
    display: inline-block;
    text-decoration: none;
	color: #FC5536;
}
.woocommerce p.stars a:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 1em;
    height: 1em;
    line-height: 1;
    font-family: WooCommerce;
    text-indent: 0;
}
.woocommerce p.stars.selected a.active:before,
.woocommerce p.stars:hover a:before {
    content: "\e020";
}
.woocommerce p.stars.selected a.active~a:before {
    content: "\e021";
}
.woocommerce p.stars.selected a:not(.active):before {
    content: "\e020";
}
.pro-top-left > a:not(.button)::after,
.pro-top-right > a:not(.button)::after,
.pro-bottom-left > a:not(.button)::after,
.pro-bottom-right > a:not(.button)::after {
	background-color: #fff;
	content: "";
	display: inline-block;
	left: -2px;
	right: -2px;
	height: 30px;
	position: absolute;
	z-index: 1;
}
.pro-top-left > a:not(.button)::after,
.pro-top-right > a:not(.button)::after {
	top: -20px;
}
.pro-bottom-left > a:not(.button)::after,
.pro-bottom-right > a:not(.button)::after {
	bottom: -20px;
}
.pro-top-left > a:not(.button)::after,
.pro-bottom-right > a:not(.button)::after {
	transform: rotate(-4deg);
	-webkit-transform: rotate(-4deg);
	-moz-transform: rotate(-4deg);
	-ms-transform: rotate(-4deg);
}
.pro-top-right > a:not(.button)::after,
.pro-bottom-left > a:not(.button)::after {
	transform: rotate(4deg);
	-webkit-transform: rotate(4deg);
	-moz-transform: rotate(4deg);
	-ms-transform: rotate(4deg);
}

.related-product ul.products li.product {
	margin-bottom: 0;
}

/* - Prodcut Example */
.product-carousel .lSSlideOuter.vertical {
	padding-right: 0 !important;
	padding-left: 100px;
}
.product-carousel .lSSlideOuter.vertical .lSPager.lSGallery  {
	float: left;
	right: auto;
	left: 0;
	padding: 60px 0;
}
.product-carousel .lSSlideOuter.vertical .lightSlider.lSSlide.lsGrab  {
	text-align: right;
}
.product-carousel .lSSlideOuter .lSPager.lSGallery li {
	height: auto !important;
}

.product-carousel .lSSlideOuter.vertical .lSAction > a {
	width: 31px;
	height: 31px;
	background-image: none;
	background-color: #ececec;
	text-align: center;
	opacity: 1;
	margin-left: 0;
}
.product-carousel .lSAction > a::before { 
	font-family:ElegantIcons;
	font-size: 25px;
	content:"\32";
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	color: #fff;
	transform: translate(0%, -50%);
	-webkit-transform: translate(0%, -50%);
	-moz-transform: translate(0%, -50%);
	-ms-transform: translate(0%, -50%);	
	color: #999999;
}
.product-carousel .lSAction > a.lSNext::before { 
	content:"\33";
}
.product-carousel .lSSlideOuter.vertical .lSAction > .lSPrev {
	top: 0;
}
.product-carousel .lSSlideOuter.vertical .lSAction > .lSNext {
	bottom: 0;
}
.product-carousel .lSSlideOuter.vertical .lSAction > a:hover {
	background-color: #cc9900;
}
.product-carousel .lSSlideOuter.vertical .lSAction > a:hover::before {
	color: #fff;
}
.product-carousel .lSSlideOuter .lSPager.lSGallery li {
	opacity: 0.3;
}
.product-carousel .lSSlideOuter .lSPager.lSGallery li.active,
.product-carousel .lSSlideOuter .lSPager.lSGallery li:hover {
	border-radius: 0;
	opacity: 1;
}
/* - Prodcut Detail */
.product-detail {
	padding-left: 45px;
}
.product-detail .product-controls {
	position: absolute;
	right: 15px;
}
.product-detail .product-controls a {
	width: 22px;
	height: 22px;
	background-color: #ececec;
	display: inline-block;
	text-align: center;
	line-height: 22px;
	text-decoration: none;
	color: #999999;
}
.product-detail .product-controls a:hover {
	background-color: #cc9900;
	color: #fff;
}
.product-detail .product-title {
	border-bottom: 1px dashed #cccccc;
	margin-bottom: 30px;
}
.product-detail .product-title h4 {
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif; 
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 0.9px;
	padding-bottom: 15px;
}
.product-detail > h4 {
	font-family: 'Montserrat', sans-serif; 
	font-size: 25px;
	font-weight: bold;
	letter-spacing: 0.625px;
	color: #666666;
	border-bottom: 1px dashed #cccccc;
	padding-bottom: 30px;
	margin-bottom: 30px;
}
.product-detail > h4 del {
	color: #cccccc;
	font-size: 18px;
	font-weight: 400;
	margin-left: 25px;
}
.product-detail > p {
	color: #666666;
	line-height: 26px;
	letter-spacing: 0.35px;
	border-bottom: 1px dashed #cccccc;
	padding-bottom: 30px;
	margin-bottom: 30px;
}
.woocommerce .product-detail  a.button { 
	background-color: #333333;
	color: #fff;
	position: relative;
	top: 3px;
	margin-left: 10px;
}
.woocommerce .product-detail  a.button:hover { 
	background-color: transparent;
	color: #333333;
}
.quantity-cart {
	border-bottom: 1px dashed #cccccc;
	padding-bottom: 33px;
}
.product-detail .quantity-cart > a.wishlist {
	float: right;
	width: 40px;
	height: 40px;
	line-height: 36px;
	border: 2px solid #333;
	color: #333;
	text-align: center;
	text-decoration: none;
	position: relative;
	top: 3px;
}
.product-detail .quantity-cart > a.wishlist:hover {
	background-color: #333;
	color: #fff;
}
.product-detail .product-content {
	padding-top: 25px;
}
.product-detail .product-content p,
.product-detail .product-content p a {
	color: #cc9900;
}
.product-detail .product-content p span {
	text-transform: uppercase;
	color: #333;
}
.product-detail .product-content p a {
	text-transform: capitalize;
	margin-left: 3px;
}
.product-detail .product-content p a::after {
	content: ",";
}
.product-detail .share {
	display: inline-block;
	margin-top: 15px;
}
.product-detail .share h4 {
	font-family: 'Montserrat', sans-serif; 
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	color: #333;
	float: left;
}
.product-detail .share ul  {
	float: left;
	margin-bottom: 0;
}
.product-detail .share ul li {
	display: inline-block;
	margin-right: 27px;
}
.product-detail .share ul li a {
	font-size: 27px;
	text-decoration: none;
}
.product-detail .share ul li.tw a {
	color: #cc9900;
}
.product-detail .share ul li.fb a {
	color: #336699;
}
.product-detail .share ul li.pin a {
	color: #cc0000;
}
.product-detail .share ul li.inst a {
	color: #663300;
}
.product-detail .share ul li.dri a {
	color: #ff3366;
}

/* - Related Prodcut */
.related-products h4 {
	font-family: 'Montserrat', sans-serif; 
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	color: #333;
	letter-spacing: 0.9px;
	text-align: center;
}
.woocommerce.related-products .products ul li, 
.woocommerce .related-products .products ul li, 
.woocommerce .related-products ul.products li {
	width: 100%;
}
/* .woocommerce span.new, 
.woocommerce span.onsale {
	z-index: 1;
} */

.woocommerce .related-products .products.owl-theme .owl-controls .owl-nav [class*="owl-"] {
	background-color: #ececec;
	position: absolute;
	top: 33%;
	transform: translate(0%, -50%);
	-webkit-transform: translate(0%, -50%);
	-moz-transform: translate(0%, -50%);
	-ms-transform: translate(0%, -50%);	
	height: 43px;
	width: 43px;
	line-height: 43px;
	font-size: 0;
	border-radius: 0;
	padding: 0;
}
.woocommerce .related-products .products.owl-theme .owl-controls .owl-nav [class*="owl-"]:hover {
	background-color: #cc9900;
}
.woocommerce .related-products .products.owl-theme .owl-controls .owl-nav .owl-prev {
	left: -76px;
}
.woocommerce .related-products .products.owl-theme .owl-controls .owl-nav .owl-next {
	right: -76px;
}
.woocommerce .related-products .products.owl-theme .owl-controls .owl-nav [class*="owl-"]::before {
	color: #999999;
	font-family:'FontAwesome';
	font-size: 18px;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: 0;
	display: inline-block;
	top: 0;
}
.woocommerce .related-products .products.owl-theme .owl-controls .owl-nav .owl-prev::before {
	content:"\f104";
}
.woocommerce .related-products .products.owl-theme .owl-controls .owl-nav .owl-next::before {
	content:"\f105";
}
.woocommerce .related-products .products.owl-theme .owl-controls .owl-nav [class*="owl-"]:hover::before {
	color: #fff;
}

/* - max-width: 1366 */
@media (max-width: 1366px) {
	.woocommerce .related-products .products.owl-theme .owl-controls {
		margin-top: 20px;
	}
	.woocommerce .related-products .products.owl-theme .owl-controls .owl-nav [class*="owl-"] {
		position: relative;
		top: 0;
		transform: none;
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;	
	}
	.woocommerce .related-products .products.owl-theme .owl-controls .owl-nav .owl-prev {
		left: 0;
	}
	.woocommerce .related-products .products.owl-theme .owl-controls .owl-nav .owl-next {
		right: 0;
	}
}
/* - min-width: 992 to max-width: 1199 */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	
}
/* -- min-width: 768 to max-width: 991 */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.woocommerce .products ul, 
	.woocommerce ul.products {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
	.woocommerce .products ul li:nth-child(odd), 
	.woocommerce ul.products li:nth-child(odd) {
		padding-left: 0;
	}
	.woocommerce .products ul li:nth-child(even), 
	.woocommerce ul.products li:nth-child(even) {
		padding-right: 0;
	}
	.woocommerce .products ul li:nth-child(odd) a.button, 
	.woocommerce ul.products li:nth-child(odd) a.button {
		left: 0;
	}
	.woocommerce .products ul li:nth-child(even) a.button, 
	.woocommerce ul.products li:nth-child(even) a.button {
		right: 0;
	}
	
}

/* -- max-width: 991 */
@media (max-width: 991px) {
	.woocommerce .woocommerce-result-count,
	.woocommerce .woocommerce-ordering select {
		font-size: 17px;
	}
	.woocommerce .products ul li, 
	.woocommerce ul.products li {
		width: 50%;
	}
	div.product div.images, 
	div.product div.summary {
		width: 100%;
		margin-bottom: 30px;
	}
	div.product div.summary {
		float: left;
	}
	.related-product ul.products li.product {
		margin-bottom: 30px;
	}
	.product-detail {
		margin-top: 50px;
	}
	.product-carousel .lSSlideOuter.vertical {
		max-width: 575px;
		margin: 0 auto;
	}
	.product-detail {
		padding-left: 15px;
	}
}

/* -- max-width: 767 */
@media (max-width: 767px) {
	.woocommerce .products ul, 
	.woocommerce ul.products {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
	.woocommerce .products ul li > a .product-img-box, 
	.woocommerce ul.products li > a .product-img-box {
		display: inline-block;
	}
}

/* -- max-width: 639 */
@media (max-width: 639px) {
	.woocommerce .products ul li, 
	.woocommerce ul.products li {
		width: 50%;
	}
	.product-carousel .lSSlideOuter.vertical {
		max-width: 300px;
		margin: 0 auto;
	}
	.product-carousel .lSSlideOuter.vertical .lSPager.lSGallery {
		padding: 30px 0;
	}
	.product-detail .share ul {
		padding-left: 10px;
	}
	.product-detail .share ul li {
		margin-right: 10px;
	}
}

/* -- max-width: 480 */
@media (max-width: 480px) {
	.woocommerce .products ul li, 
	.woocommerce ul.products li {
		width: 100%;
		display: block;
		float: none;
		max-width: 290px;
		margin-left: auto;
		margin-right: auto;
	}
	.woocommerce .products ul li:nth-child(odd), 
	.woocommerce ul.products li:nth-child(odd) {
		margin-bottom: 32px;
	}
}

/* -- Product List Widget */
.product-widget {
	padding-left: 23px;
	padding-right: 23px;
	margin-bottom: 50px;
}
.product-widget .widget-title {
	font-size: 18px;
	margin-left: -23px;
	margin-right: -23px;
	padding-bottom: 20px;
	border-bottom: 1px dashed #ccc;
	margin-bottom: 28px;
	margin-top: 24px;
}
/* -- Widget Price Filter */
.product-section .widget-price-filter .price-filter {
	padding-left: 11px;
	padding-right: 11px;
}
.product-section .widget-price-filter .ui-slider-horizontal {
	height: 4px;
	margin-bottom: 20px;
}
.product-section .widget-price-filter .ui-widget-content {
	background-color: #e4e3e3;
	border: none;
}
.price-filter h5 {
	font-family: 'Montserrat', sans-serif; 
	text-transform: uppercase;
	margin-top: 0;
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 30px;
}
.product-section .widget-price-filter .ui-widget-header {
	background-color: #cc9900;
}
.product-section .widget-price-filter .ui-slider .ui-slider-handle {
	width: 31px;
	height: 31px;
	border: none;
	background-image: url("../images/progres_img.png");
	background-color: transparent !important;
	margin-top: -8px;
}
.product-section .widget-price-filter .ui-slider .ui-slider-handle.ui-state-hover:hover,
.product-section .widget-price-filter .ui-slider .ui-slider-handle.ui-state-hover:focus {
	background-color: transparent;
}
.product-section .widget-price-filter .price-input {
	color: #333;
	display: inline-block;
	font-size: 13px;
	margin-top: 10px;
}
.product-section .widget-price-filter .price-filter > a {
	font-size: 12px;
	background-color: #FC5536;
	padding: 5px 10px;
	border-radius: 3px;
	float: right;
	color: #fff;
	margin-top: 5px;
	text-decoration: none;
}
/* -- Widget Best Seller */
.widget-best-seller .seller-box {
	margin-bottom: 20px;
	position: relative;
	padding-left: 90px;
	display: inline-block;
	width: 100%;
	padding-bottom: 35px;
	border-bottom: 1px dashed #ccc;
	min-height: 118px;
}
.widget-best-seller .seller-box:last-child {
	border-bottom: none;
	padding-bottom: 0;
	margin-bottom: 0;
}
.seller-box .product-img {
	position: absolute;
	left: 0;
	top: 0;
	width: 82px;
	height: 72px;
}		
.seller-box h4 {
	font-family: 'Montserrat', sans-serif; 
	color: #333333;
	text-transform: uppercase;
	margin-top: 0;
	font-size: 13px;
	font-weight: bold;
}
.seller-box h4 a {
	color: #333333;
	text-decoration: none;
}
.seller-box:hover h4 a {
	color: #cc9900;
}
.seller-box h4 span {
	display: block;
	margin: 10px 0;
	font-size: 15px;
}
.woocommerce .seller-box .star-rating {
	float: left;
	font-size: 12px;
}

/* - Widget :- Categories */
.product-widget-categories ul {
	list-style: none;
	padding-left: 0px;
}
.product-widget-categories ul  li {
	border-bottom: 1px dashed #ccc;
	padding-bottom: 11px;
	padding-top: 11px;
}
.product-widget-categories ul  li:last-of-type {
	padding-bottom: 0;
}
.product-widget-categories ul  li:last-of-type {
	border-bottom: none;
}
.product-widget-categories ul  li:first-child {
	padding-top: 0;
}
.product-widget-categories li a {
	color: #666666;
	text-decoration: none;
	font-size: 13px;
	text-transform: capitalize;
}
.product-widget-categories li a:before {
	content: "\5e";
	font-family:ElegantIcons;
	background-repeat: no-repeat;
	display: inline-block;
	padding-right: 10px;
}
.product-widget-categories span {
	float: right;
}
.product-widget-categories li a:hover,
.product-widget-categories li a:hover span {
	color: #cc9900;
}

/* - Order Summary */
.order-summary h3,
.product-cart .widget h3 {
	font-family: 'Montserrat', sans-serif; 
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 20px;
	letter-spacing: 1px;
}
.order-summary-content {
	display: inline-block;
	width: 100%;
	margin-top: 25px;
	margin-bottom: 25px;
}
.summary_table,
.shop_cart {
	width: 100%;
}
.summary_table thead,
.shop_cart thead {
	border-bottom: 1px solid #cccccc;
}
.summary_table thead th,
.shop_cart thead th {
	font-family: 'Montserrat', sans-serif; 
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;	
	text-align: center;
	padding-bottom: 15px;
	color: #999999;
}
.summary_table tbody tr,
.shop_cart tbody tr {
	text-align: center;
	border-bottom: 1px solid #ececec;
}
.summary_table tbody tr:last-child,
.shop_cart tbody tr:last-child {
	border-bottom: none;
}
.summary_table tbody tr td,
.shop_cart tbody tr td {
	padding: 30px 0;
}
.summary_table .product-thumbnail {
	width: 18.889%;
}
.summary_table .product-name,
.shop_cart .product-name {
	text-align: left;
}
.summary_table .product-name {
	padding-left: 50px;
	width: 35.65%;
}
.summary_table .product-remove a,
.shop_cart .product-remove a {
	color: #999999;
	font-size: 25px;
	text-decoration: none;
}
.summary_table .product-remove a:hover,
.shop_cart .product-remove a:hover {
	color: #cc9900;
}
.summary_table .product-name a,
.shop_cart .product-name a {
	text-decoration: none;
	color: #333333;
	font-family: 'Montserrat', sans-serif; 
	font-weight: bold;
	text-transform: uppercase;
}
.summary_table .product-quantity {
	width: 25.213%;
}
.summary_table .product-quantity input,
.shop_cart .product-quantity input {
	width: 69px;
	height: 39px;
	border: 1px solid #e9eaee;
	text-align: center;
}
.summary_table td.product-subtotal,
.shop_cart td.product-subtotal,
.summary_table td.product-price,
.shop_cart td.product-price {
	font-size: 15px;
	color: #333333;
	font-family: 'Montserrat', sans-serif; 
	font-weight: bold;
	text-transform: uppercase;
}
.summary_table th.product-subtotal,
.shop_cart th.product-subtotal,
.summary_table th.product-price,
.shop_cart th.product-price {
	font-size: 14px;
}

.calculte-shipping {
	border: 1px solid #cccccc;
	padding: 70px;
	margin-top: 45px;
}
.calculte-shipping .form-control,
.widget-coupon .coupon .form-control {
	width: 100%;
	border: 1px solid #cccccc;
	border-radius: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
	height: 55px;
	margin-bottom: 22px;
}

.calculte-shipping input[type="submit"],
.widget-coupon .coupon form input[type="submit"] {
	border: none;
	height: 55px;
	width: 100%;
	background-color: #dedede;
	color: #666666;
	font-family: 'Montserrat', sans-serif; 
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}
.widget-coupon {
	margin-bottom: 60px;
}
.widget-coupon .coupon {
	width: 100%;
	display: inline-block;
	background-color: #f3f3f3;
	padding: 65px;
	margin-top: 35px;
}
.widget-coupon .coupon .form-control { 
	text-align: center;
}
.widget-proceed-checkout .wc-proceed-to-checkout {
	background-color: #333333;
	margin-top: 35px;
	display: inline-block;
	width: 100%;
	padding: 55px 65px;
	margin-bottom: 22px;
}
.widget-proceed-checkout .wc-proceed-to-checkout table {
	width: 100%;
}
.widget-proceed-checkout .wc-proceed-to-checkout table tr {
	border-bottom: 1px dashed #fff;
	width: 100%;
}
.widget-proceed-checkout .wc-proceed-to-checkout table tr:last-child {
	border-bottom: none;
}
.widget-proceed-checkout .wc-proceed-to-checkout table tr td {
	width: 50%;
	color: #fff;
	padding: 10px 0;
}
.widget-proceed-checkout .wc-proceed-to-checkout table tr:last-child td:last-child {
	color: #cc9900;
	font-size: 18px;
}
.widget-proceed-checkout > a {
	color: #666666;
	font-family: 'Montserrat', sans-serif; 
	font-size: 13px;
	font-weight: bold;
	height: 55px;
	line-height: 55px;
	padding: 0 15px;
	background-color: #dedede;
	float: left;
	text-transform: uppercase;
	letter-spacing: 0.65px;
}
.widget-proceed-checkout > a.proceed-to-checkout {
	float: right;
	padding: 0 25px;
	background-color: #cc9900;
	color: #fff;
}

/* - min-width: 992 */
@media (min-width: 992px) {
	.product-cart .widget-area {
		padding-left: 0;
	}
}

/* - min-width: 768 */
@media (min-width: 768px) {
	.product-cart .widget-area {
		float: right;
	}
}

/* - min-width: 992 to max-width: 1199 */
@media only screen and (min-width: 992px) and (max-width: 1199px) {	
	.widget-proceed-checkout > a {
		font-size: 11px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.widget-proceed-checkout > a.proceed-to-checkout {
		padding-left: 15px;
		padding-right: 15px;
	}
}

/* - max-width: 991 */
@media (max-width: 991px) {
	.calculte-shipping form .col-sm-12 {
		padding-left: 0;
		padding-right: 0;
	}
	.widget-coupon .coupon {
		padding: 35px;
	}
	.widget-proceed-checkout .wc-proceed-to-checkout {
		padding: 35px 25px;
	}
	.widget-proceed-checkout > a {
		width: 100%;
		text-align: center;
		margin-bottom: 15px;
	}	
}

/* - max-width: 767 */
@media (max-width: 767px) {
	.summary_table,
	.shop_cart {
		position: relative;
		border: none;
	}
	.summary_table thead,
	.shop_cart thead {
		display: none;
	}
	.summary_table tbody,
	.summary_table th,
	.summary_table td,
	.summary_table tr,
	.shop_cart tbody,
	.shop_cart th,
	.shop_cart td,
	.shop_cart tr {
		display: block;
	}
	.summary_table tr,
	.shop_cart tr {
		margin-bottom: 30px;
		border: 1px solid #ececec;
	}
	.summary_table td,
	.shop_cart td {
		border-bottom: 1px solid #ececec;
		position: relative;
	}
	.summary_table tr td:last-child,
	.shop_cart tr td:last-child {
		border-bottom: none;
	}
	.summary_table td:before,
	.shop_cart td:before {
		content: attr(data-title); 
		width: 40%; 
		position: absolute; 
		display: inline-block; 
		color: #000; 
		text-transform: uppercase; 
		text-align: left;
		padding: 30px 5%;
		font-family: "Montserrat",sans-serif;
		background-color: #F6F6F6;
		top: 0;
		bottom: 0;
		left: 0;
		font-size: 14px;
	}
	.summary_table .product-thumbnail,
	.summary_table .product-name,
	.summary_table .product-quantity,
	.summary_table .product-subtotal,
	.shop_cart .product-thumbnail,
	.shop_cart .product-name,
	.shop_cart .product-quantity,
	.shop_cart .product-price,
	.shop_cart .product-subtotal,
	.shop_cart .product-remove {
		width: 100%;
		padding-left: 50%;
		text-align: left;
	}
	.summary_table .product-name a span span,
	.shop_cart .product-name a span span {
		margin-left: 0;
	}
	.order-summary .section-header a {
		position: relative;
		display: inline-block;
	}
	.shop_cart tfoot tr {
		margin-bottom: 0;
	}
	.shop_cart tfoot tr td::before {
		display: none;
	}
}